{% extends "index.html" %} {% block titulo %} Torneos {% endblock %} {% block
contenido %}

<section class="section w-100 m-auto p-4">
  <h3>Torneos</h3>
</section>
<section class="section">
  <a
    href="{{url_for('formulario_agregar_torneo')}}"
    class="btn btn-success mx-4 my-0"
    >Agregar</a
  >
  <div class="row w-100 m-auto p-4">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for torneo in torneos %}
        <tr>
          <td>{{torneo[1]}}</td>
          <td>{{torneo[2]}}</td>
          <td>{{torneo[3]}}</td>
          <td>
            {# Pasar el id (lo que hay en torneo[0] #}
            <a
              href="{{url_for('editar_torneo', id=torneo[0])}}"
              class="btn btn-info"
              >Editar</a
            >
          </td>
          <td>
            <form action="{{url_for('eliminar_torneo')}}" method="POST">
              <input type="hidden" name="id" value="{{torneo[0]}}" />
              <button class="btn btn-danger">Eliminar</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
